* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}

.nav-container {
    padding: 0 160px;
}

nav {
    padding: 24px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;


}

.nav-logo-section {
    display: flex;
    align-items: center;
}

.nav-link-section {
    display: flex;
    align-items: center;
}

.nav-link-section li a {
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
    font-weight: bold;
}

.home-link {
    color: orange;
}

.about-link {
    color: skyblue;
}

.fact-link {
    color: #05D4DF;
}

.admission-link {
    color: #5D5FEF;
}

.nav-btn {
    width: 197px;
    height: 50px;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    border-radius: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

/* hero section  */

.hero-container {
    padding: 0 160px;
}

.hero-container {
    display: flex;
    /* background-color: #5D5FEF; */
}

.hero-left {
    width: 60%;
}

/* hero left  */
.hero-left {
    padding: 50px 0;
}

.hero-left h3 {
    font-size: 56px;
}

.hero-left-heading-1 {
    color: orange;
}

.hero-left-heading-2 {
    color: rgb(31, 181, 240);
}

.hero-left p {
    margin-top: 24px;
}

.enroll-btn {
    width: 197px;
    height: 50px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 24px;
}

/* hero rignt  */
.hero-right {
    margin-left: 50px;
}




/* standard-curriculum */
.standard-curriculum-container {
    padding: 0 160px;
}

.standard-curriculum {
    background-image: url("/assets/bg.png");
}

.standard-heading {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
}

.standard-cards {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 80px 0;
}

.card {
    width: 250px;
    height: auto;
    border: 1px solid rgb(17, 167, 226);
    border-radius: 16px;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-details a {
    text-decoration: none;
    font-weight: bold;
}

.card-1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(224, 244, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.card-2{
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #FFF6E3 0%, rgba(255, 255, 255, 1) 100%);
}
.card-3{
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #F0E7FE 0%, rgba(255, 255, 255, 1) 100%);
}

.read-1{
    color: rgb(17, 167, 226) ;
}
.read-2{
    color: orange;
}
.read-3{
    color: #5D5FEF;
}

/* slide btn  */
.slide-btn{
    display: flex;
    /* gap: 24px; */
    justify-content: center;
}
.left-slide-btn, .right-slide-btn{
    font-size: 32px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    align-items: center;
    justify-content: center;
}